{% extends "learning_logs/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4">Welcome to Learning Log</h1>
                <p class="lead">Learning Log helps you organize and keep track of your learning journey.</p>
                <a href="{% url 'learning_logs:topics' %}" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="https://img.freepik.com/free-vector/multitasking-concept_23-2148403800.jpg?w=826&t=st=1695633366~exp=1695633966~hmac=b957f32b395e3487bdefe50d1cf4d5eb0e2cd289df7e3f3aed09dba783380247" alt="Learning Illustration" class="img-fluid mt-4">
            </div>
        </div>
    </div>
{% endblock content %}
